/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    overflow-x: hidden;
    background-color: #fff;
}

/* Шапка */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    position: absolute;
    width: 100%;
    z-index: 10;
    color: white;
}

header .logo img {
    height: 140px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-left: -450px;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

header .user-actions a.emoji {
    font-size: 24px;
    color: white;
}

/* Главный баннер */
/* Слайдер */
.banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide img, .slide video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide video {
    pointer-events: none; /* Отключает управление видео пользователем */
}

/* Коллекция */
.collection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 10px;
    padding: 20px;
    background-color: #ffffff;
}

.card {
    background: #f9f9f9;
    text-align: center;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card img {
    width: 100%;
    height: auto;
}

.card h3 {
    margin-top: 10px;
    font-size: 16px;
}

.card p {
    color: #888;
    font-size: 14px;
}

.card:hover {
    transform: translateY(-5px);
}

/* Футер */

.logo1 img {
    position: none;
    display: flex;
    height: 200px;
}
footer {
    background-color: #f1f1f1;
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    margin-bottom: 20px;
    flex: 1 1 200px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 5px;
    color: #333;
    font-size: 14px;
}
